@page
@model Otakurin.Application.Pages.Home.Settings.ImportModel

<div class="container my-4">
    <h1 class="mb-3">Import</h1>
    
    @if (Model.IsSuccess)
    {
        <div class="row">
            <div class="alert alert-success" role="alert">
                Successfully imported game!
            </div>
        </div>
    }
    
    @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
    {
        <div class="row">
            <div class="alert alert-danger" role="alert">
                @error.ErrorMessage
            </div>
        </div>
    }
    
    <p class="mb-3">
        Import v2 games backup. Paste contents of .csv file WITHOUT the header in the field box below.
    </p>

    <form method="post">
        <div class="mb-3">
            <label for="Data" class="form-label">Data</label>
            <textarea name="Data" class="form-control" rows="10"></textarea>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <button type="submit" class="btn btn-primary">Import</button>
        </div>
    </form>
</div>