<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>otakurin</title>
    <link rel="stylesheet" href="/css/bootstrap.custom.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light mb-3">
        <div class="container">
            <a class="navbar-brand" asp-page="/Index">
                <img src="/logo.svg" height="35" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Home/Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    Games
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="px-3">
                                        <a class="nav-link" asp-page="/Home/Games/Search">Search</a>
                                    </li>
                                    <li class="px-3">
                                        <a class="nav-link" asp-page="/Home/Games/Trackings/Index">Trackings</a>
                                    </li>
                                    <li class="px-3">
                                        <a class="nav-link" asp-page="/Home/Games/Wishlists/Index">Wishlists</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="px-3">
                                        <a class="nav-link" asp-page="/Home/Settings/Index">Settings</a>
                                    </li>
                                    <li class="px-3">
                                        <a class="nav-link" asp-page="/Auth/SignOut">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                }

                @if (!User.Identity?.IsAuthenticated ?? true)
                {
                    <div class="ms-auto">
                        <a class="btn btn-primary" asp-page="/Auth/SignIn" role="button">Sign In</a>
                        <a class="btn btn-outline-primary" asp-page="/Auth/SignUp" role="button">Sign Up</a>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>

<div class="container">
    @if (TempData["notifySuccess"] != null)
    {
        <div class="row">
            <div class="alert alert-success my-1" role="alert">
                @TempData["notifySuccess"]
            </div>
        </div>
    }
    
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <div class="d-flex flex-row align-items-center py-3">
            <span>&copy; 2036 - SXIERL</span>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>