@page "{gameId:guid}/{platform}"
@model EditModel

<div class="container my-4">
    <h1 class="mb-3">Edit wishlist for @Model.Game.Title</h1>
    <form method="post">
        <input asp-for="@Model.ReturnUrl" name="ReturnUrl" hidden />
        
        <div class="mb-3">
            <label for="Platform" class="form-label">Platform</label>
            <input disabled class="form-control" value="@Model.Platform"/>
        </div>
        
        <div class="d-flex flex-row-reverse justify-content-end mt-4">
            <button type="submit" asp-page-handler="remove" class="btn btn-danger">
                <i class="bi bi-trash me-1"></i>
                Remove
            </button>
        </div>
    </form>
</div>